@import "include-media";

$color-primary: #1e1e1e;

$font-oswald: "Oswald", sans-serif;
$font-open-sans: "Open Sans", sans-serif;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  min-height: 100vh;
}

.container {
  min-height: 100vh;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  padding: 20px;
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-height: 100%;
}

nav {
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid $color-primary;
  .mobile-nav-button {
    display: none;
  }
  @include media("<=tablet") {
    justify-content: flex-start;
    flex-direction: column;
    .mobile-nav-button {
      display: block;
    }
    ul {
      flex-direction: column;
      overflow-x: hidden;
    }
    &.visible ul {
      height: auto;
    }
    &.hidden ul {
      height: 0;
    }
  }
  .mobile-nav-button {
    width: 50px;
    height: 50px;
    padding: 10px;
    position: relative;
    background-color: transparent;
    border: 0px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  ul {
    display: flex;
    margin-bottom: 0;
    li {
      display: flex;
      height: 50px;
      a {
        display: flex;
        align-items: center;
        padding: 0px 20px;
        text-decoration: none;
        color: $color-primary;
        transition: border-bottom 100ms 0ms ease-in-out;
        &:hover {
          text-decoration: none;
          color: $color-primary;
          border-bottom: 3px solid $color-primary;
        }
      }
    }
  }
}

.hero {
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 100px;
  h1 {
    font-family: $font-oswald;
    font-size: 64px;
  }
}

#about-me .content {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  @include media("<=tablet") {
    flex-direction: column;
  }
  .photo {
    width: 15vw;
    max-width: 200px;
    height: 15vw;
    max-height: 200px;
    @include media("<=tablet") {
      height: 200px;
      width: 200px;
    }
    border-radius: 100%;
    border: 2px solid $color-primary;
    background-image: url("../assets/images/me.png");
    background-size: cover;
    background-position: center;
  }
  p {
    width: 80vw;
    max-width: 800px;
    font-size: 22px;
    padding: 20px;
    text-align: justify;
    @include media("<=tablet") {
      width: 90vw;
    }
  }
}

#skills .content {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 50px;
  .skill {
    padding: 5px;
    @include media("<=phone") {
      width: 100%;
    }
    @include media(">phone", "<=desktop") {
      width: 50%;
    }
    @include media(">desktop") {
      width: 30%;
    }
    .divider {
      height: 3px;
      background-color: $color-primary;
      width: 100px;
    }

    p {
      padding: 10px;
      min-height: 100px;
    }
  }
}

#web,
#games {
  .content {
    h1 {
      font-family: $font-oswald;
      font-size: 50px;
      border-bottom: 1px solid $color-primary;
    }
  }
}

#contact {
  font-family: $font-open-sans;
  .content {
    justify-content: center;
    align-items: center;
    p {
      text-align: center;
      font-size: 24px;
    }
    .icons a {
      display: inline-block;
      width: 64px;
      height: 64px;
      border-radius: 100%;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

footer {
  padding: 5px;
  font-size: 12px;
  color: rgb(105, 105, 105);
  background-color: $color-primary;
}

.projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  .project {
    margin: 20px;
    padding: 5px;
    box-shadow: 3px 3px 5px 2px rgba(105, 105, 105, 0.5);
    @include media("<=phone") {
      width: 100%;
    }
    @include media(">phone", "<=desktop") {
      width: 46%;
    }
    @include media(">desktop") {
      width: 28%;
    }
    small {
      font-family: $font-open-sans;
    }
    h2 {
      margin-top: 10px;
      padding: 0px 10px;
      letter-spacing: 2px;
      font-family: $font-oswald;
      font-weight: 500;
    }

    p {
      padding: 0px 10px;
      text-align: justify;
      font-family: $font-open-sans;
      min-height: 150px;
    }

    .image-container {
      position: relative;
      max-height: 256px;
      overflow: hidden;
      background-color: rgba(105, 105, 105, 0.2);

      &:hover {
        .image-button-container {
          background-color: rgba(105, 105, 105, 0.3);
          .image-button {
            transform: translateY(0px);
          }
        }
      }

      img {
        width: 100%;
      }

      .image-button-container {
        width: 100%;
        height: 100%;
        background-color: rgba(105, 105, 105, 0);
        position: absolute;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.2s 0s ease-in-out;

        .image-button {
          text-decoration: none;
          padding: 10px 50px;
          background-color: #fff;
          border-radius: 50px;
          transform: translateY(300px);
          transition: transform 0.3s 0s ease-in-out;
          box-shadow: 3px 3px 5px 2px rgba(105, 105, 105, 0.5);
          color: $color-primary;
        }
      }
    }
  }
}

#slide-up {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  background-image: url("../assets/icons/slide-up.png");
  background-size: cover;
  background-position: center;
  position: fixed;
  right: 10px;
  z-index: 20;
  transition: bottom 0.3s ease-in-out;
  a {
    display: block;
    width: 100%;
    height: 100%;
  }
  &.hidden {
    bottom: -60px;
  }
  &.visible {
    bottom: 10px;
  }
}
